html {
  background: #142a3e;
}

body {
  background: linear-gradient(to bottom, #020202, #142a3e) no-repeat;
}

body, button, a, select {
    color: white;
}

button, a.link_button, select {
  background-color: #b35e5e;
}

section.bordered {
  border: 1px dashed rgba(255, 255, 255, 0.59);
}

button:hover:enabled, select:hover:enabled {
  background-color: white;
  color: black;
}

body.edit g.major line, body.edit g.minor line, body.edit g.outer line {
  opacity: 0.5;
}

g.labels {
  fill: #ff0000;
}

g.labels g.valid {
  fill: #acaefd;
}

text.complete, tspan.complete {
  fill: #334c73;
}

rect.even, rect.odd {
    opacity: 0.4;
}

rect.even, rect.odd {
  opacity: 0.15;
}

rect.even {
  fill: #292c82;
}

rect.odd, svg.game_complete rect.even {
  fill: rgb(11, 11, 21);
}

g.hover rect.highlighted, g.locked rect.highlighted {
  fill: #7c6088;
}

svg.game_complete g.hover rect.highlighted {
  fill: #221f2c;
}

g.hint rect.highlighted {
  fill: #d1000a;
}

g.major line, g.minor line, g.outer line {
  stroke: #00abff;
}

div#dialog {
  border: 2px solid white;
}

g.squares rect.prior {
  fill: white;
}

g.squares rect.new {
  fill: red;
}

g.crosses line.prior {
  stroke: #838bb9;
}

g.crosses line.new {
  stroke: red;
}

div#dialog {
  background: black;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.69);
}
