{% extends "base.html" %}

{% block syles %}
  {{ super() }}
  <link rel="stylesheet" href="/styles/has_grid.css">
  <link rel="stylesheet" id="color_scheme_stylesheet" href="">
{% endblock %}

{% block main %}
  <svg id="game" class="main" xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink">
    {% block svg_extensions %}
    {% endblock %}
    <g id="content"></g>
  </svg>

  <aside>
    {{ global_controls() }}
    <section id='controls'>
      {% block controls %}
      {% endblock %}
    </section>
    <footer>
      <section><a href='about:blank'>Click for game information and play
        guide</a></section>
    </footer>
  </aside>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src='/scripts/third_party/classList.js'></script>  {#  for IE #}
  <script src='/scripts/third_party/alea.js'></script>
  <script src='/scripts/analyze.js'></script>
  <script src='/scripts/draggable.js'></script>
  <script src='/scripts/dialog.js'></script>
  <script src='/scripts/encoder_decoder.js'></script>
  <script src='/scripts/fetch_game.js'></script>
  <script src='/scripts/generate.js'></script>
  <script src='/scripts/generate_clues.js'></script>
  <script src='/scripts/gup.js'></script>
  <script src='/scripts/plot_line.js'></script>
  <script src='/scripts/renderer.js'></script>
  <script src='/scripts/request.js'></script>
{% endblock %}