{% extends "base.html" %}

{% block syles %}
  {{ super() }}
  <link rel="stylesheet" href="/styles/has_grid.css">
  <link rel="stylesheet" id="color_scheme_stylesheet" href="">
{% endblock %}

{% block main %}
  <svg id="game" class="main" xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink">
    {% block svg_extensions %}
    {% endblock %}
    <g id="content"></g>
  </svg>

  <aside>
    {{ global_controls() }}
    <section id='controls'>
      {% block controls %}
      {% endblock %}
    </section>
    <footer>
      <section><a href='about:blank'>Click for game information and play
        guide</a></section>
    </footer>
  </aside>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ scripts.include('third_party/classList') }}  {#  for IE #}
  {{ scripts.include('third_party/alea') }}
  {{ scripts.include('analyze') }}
  {{ scripts.include('draggable') }}
  {{ scripts.include('dialog') }}
  {{ scripts.include('encoder_decoder') }}
  {{ scripts.include('fetch_game') }}
  {{ scripts.include('generate') }}
  {{ scripts.include('generate_clues') }}
  {{ scripts.include('gup') }}
  {{ scripts.include('plot_line') }}
  {{ scripts.include('renderer') }}
  {{ scripts.include('request') }}
{% endblock %}