{% extends "has_grid.html" %}

{% block syles %}
  {{ super() }}
  <link rel="stylesheet" href="/styles/play.css">
{% endblock %}

{% block svg_extensions %}

  <style type="text/css">
    svg.main g.squares {
      filter: url(#dropshadow);
    }
  </style>
  <filter id="dropshadow">
    <feGaussianBlur in="SourceAlpha" stdDeviation="10"></feGaussianBlur>
    <feOffset dx="6" dy="6" result="offsetblur"></feOffset>
    <feFlood flood-color="black" flood-opacity="0.4"></feFlood>
    <feComposite in2="offsetblur" operator="in"></feComposite>
    <feMerge>
      <feMergeNode></feMergeNode>
      <feMergeNode in="SourceGraphic"></feMergeNode>
    </feMerge>
  </filter>

{% endblock %}

{% block controls %}
  {{ super() }}
  <h1 id="title">Title</h1>
  <section id="play_section">
    <button id="replay">Replay</button>
    <button id="hint">Hint</button>
    <button id="edit">Edit</button>
  </section>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ scripts.include('play') }}
{% endblock %}