html {
  font-family: monospace;
}

body {
  margin: 0;
}

body, button, a {
  font-size: large;
}

button {
  border: none;
}

button, select {
  font-family: inherit;
}

button, select {
  padding: 8px 24px;
}

button:disabled {
  opacity: 0.5;
}

h1 {
  font-size: xx-large;
}

a {
  text-decoration: none;
}

a:hover {
  background: black;
  text-decoration: underline;
}

section.bordered {
  border: 1px dashed rgba(255, 255, 255, 0.59);
  border-radius: 12px;
  padding: 12px;
}

section.buttonRow {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

section.infoRow {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

