main {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

aside {
  display: flex;
  flex: min-content;
  flex-direction: column;
  gap: 1em;
  margin: 2em;
}

section#controls {
  flex-grow: 1;
}

select {
  border: none;
  color: white;
  font-size: large;
  height: 38px;
  width: 135px;
}

g.labels text {
  font-weight: bold;
}

g.column_labels text {
  text-anchor: middle;
}

g.row_labels text {
  text-anchor: end;
}

g.hint rect.highlighted {
  opacity: 1;
}

svg#game {
  flex-shrink: 0;
}

svg.main g.major line, svg.main g.outer line {
  stroke-width: 2px;
}

svg.mini g.major line, svg.mini g.outer line {
  opacity: 0.5;
  stroke-width: 1px;
}

svg.main g.minor line {
  opacity: 0.3;
}

body.gameComplete g.minor {
  visibility: hidden;
}

body.gameComplete g.major line {
  visibility: hidden;
}

svg.mini g.minor line {
  visibility: hidden;
}

g.squares {
  opacity: 0.9;
}

body.gameComplete g.squares rect {
  opacity: 1;
}


g.crosses line {
  stroke-width: 2;
}

body.gameComplete g.crosses line {
  opacity: 0.3;
}

svg.mini {
  margin: 10px;
}

div#dialog {
  margin: 28px;
  position: absolute;
  top: 80px;
}

div#dialog header {
  margin: 12px;
}

div#dialog_content {
  margin: 20px;
}

button#close {
  float: right;
}

fieldset {
  border-color: grey;
  display: flex;
  font-size: x-large;
  gap: 1em;
  margin-top: 2em;
  max-width: fit-content;
  padding: 1em;
}

input[type='radio'] {
  margin: 1em;
  transform: scale(2);
}

section.titleSection {
  display: flex;
  justify-content: space-between;
  place-items: baseline;
}

body.gameComplete fieldset {
  display: none;
}

body.gameComplete footer {
  display: none;
}

body.gameComplete button#hint {
  display: none;
}

body:not(.gameComplete) section#completeSection {
  display: none;
}

section#completeSection {
  background: navy;
  margin: 2em;
  max-width: fit-content;
  padding: 2em;
}
