main {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

aside {
  display: flex;
  flex: min-content;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
}

section#controls {
  flex-grow: 1;
}

select {
  border: none;
  font-size: large;
  height: 38px;
  width: 135px;
  color: white;
}

g.labels text {
  font-weight: bold;
}

g.column_labels text {
  text-anchor: middle;
}

g.row_labels text {
  text-anchor: end;
}

g.hint rect.highlighted {
  opacity: 1;
}

svg#game {
  flex-shrink: 0;
}

svg.main g.major line, svg.main g.outer line {
  stroke-width: 2px;
}

svg.mini g.major line, svg.mini g.outer line {
  stroke-width: 1px;
  opacity: 0.5;
}

svg.main g.minor line {
  opacity: 0.3;
}

svg.gameComplete g.minor {
  visibility: hidden;
}

svg.gameComplete g.major line {
  visibility: hidden;
}

svg.mini g.minor line {
  visibility: hidden;
}

g.squares {
  opacity: 0.9;
}

svg.gameComplete g.squares rect {
  opacity: 1;
}


g.crosses line {
  stroke-width: 2;
}

svg.gameComplete g.crosses line {
  opacity: 0.3;
}

svg.mini {
  margin: 10px;
}

div#dialog {
  position: absolute;
  top: 80px;
  margin: 28px;
}

div#dialog header {
  margin: 12px;
}

div#dialog_content {
  margin: 20px;
}

button#close {
  float: right;
}
