html {
  background: #142a3e;
}

body {
  background: linear-gradient(to bottom, #020202, #142a3e) no-repeat;
}

body, button, a {
  color: white;
}

section {
  margin: 8px;
  padding: 10px;
}

a.link_button {
  background-color: #b3002f;
  padding: 10px;
  display: inline-block;
}

a.link_button:hover {
  color: black;
  background: white;
  text-decoration: none;
}

ol#games {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 1em;
  padding: 0;
}

ol#games li {
  list-style-type: none;
  display: inline-block;
}

ol#games a {
  background: linear-gradient(purple, rebeccapurple);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  height: 5em;
  overflow: hidden;
  padding: 1em;
  width: 10em;
}

ol#games a:hover {
  color: black;
  background: white;
  text-decoration: none;
}

button:hover:enabled, select:hover:enabled {
  background-color: white;
  color: black;
}

span.name {
  font-weight: bold;
  white-space: nowrap;
  flex-grow: 1;
}

span.creator {
  font-size: small;
}

span.difficulty {
  font-size: small;
}

span.playing, span.completed {
  font-size: small;
}

section.bordered {
  border: 1px dashed rgba(255, 255, 255, 0.59);
}
