html {
  background: #142a3e;
}

body {
  background: linear-gradient(to bottom, #020202, #142a3e) no-repeat;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

body, button, a {
  color: white;
}

a.linkButton {
  border-color: gray;
  border-style: solid;
  display: inline-block;
  padding: 10px;
}

a.linkButton:not(.currentUrl) {
  background-color: black;
  color: white;
}

a.linkButton:hover:not(.currentUrl) {
  background-color: white;
  color: black;
  text-decoration: none;
}

a.linkButton.currentUrl {
  background-color: darkred;
  color: white
}

a.linkButton.currentUrl:hover {
  border-color: white;
  text-decoration: none;
}

ol#games {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, 130px );
  margin: 0;
  padding: 0;
}

ol#games li {
  display: flex;
  height: 130px;
  list-style-type: none;
}

ol#games a.createGame, ol#games span.playPrompt {
  align-items: center;
  background-color: black;
  padding: 0.5em;
}

ol#games > li > a, ol#games > li > span {
  border-radius: 0.5em;
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: space-between;
}

ol#games canvas.thumbnail {
  align-self: center;
}

ol#games section.puzzleInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5em;
  justify-content: space-between;
  padding: 0.5em;
}

ol#games li.selected a {
  background: lightgoldenrodyellow;
  color: black;
}

ol#games li.selected canvas {
  filter: invert(1);
}

ol#games a.unstarted.difficultyMod0:not(:hover) {
  background: linear-gradient(hsl(270 100% 45%), hsl(270 100% 20%));
}

ol#games a.unstarted.difficultyMod1:not(:hover) {
  background: linear-gradient(hsl(210 100% 45%), hsl(210 100% 20%));
}

ol#games a.unstarted.difficultyMod2:not(:hover) {
  background: linear-gradient(hsl(240 100% 45%), hsl(240 100% 20%));
}

ol#games a.playing {
  background: linear-gradient(hsl(180 100% 30%), hsl(180 100% 10%));
}

ol#games a.completed {
  background: linear-gradient(hsl(140 100% 30%), hsl(140 100% 10%));
}

ol#games a.draft {
  background: linear-gradient(black, dimgrey);
}

ol#games a:hover {
  background: white;
  color: black;
  text-decoration: none;
}

button:hover:enabled, select:hover:enabled {
  background-color: white;
  color: black;
}

span.footSpan {
  display: flex;
  gap: 0.5em;
}

span.footSpan img {
  align-self: end;
  height: fit-content;
}

span.puzzleDetails {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: end;
}

span.name {
  font-weight: bold;
}

span.creator {
  font-size: small;
}

span.difficulty {
  font-size: x-small;
}

span.dimensions {
  font-size: small;
  font-weight: bold;
}

span.status {
  font-size: small;
}

section.bordered {
  border: 1px dashed rgba(255, 255, 255, 0.59);
}

section.topRow {
  align-items: baseline;
  display: flex;
  gap: 2em;
}

form.tagForm {
  align-items: baseline;
  display: flex;
  gap: 1em;
}
