html {
  background: #142a3e;
}

body {
  background: linear-gradient(to bottom, #020202, #142a3e) no-repeat;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

body, button, a {
  color: white;
}

a.linkButton {
  border-color: gray;
  border-style: solid;
  display: inline-block;
  padding: 10px;
}

a.linkButton:not(.currentUrl) {
  background-color: black;
  color: white;
}

a.linkButton:hover:not(.currentUrl) {
  background-color: white;
  color: black;
  text-decoration: none;
}

a.linkButton.currentUrl {
  background-color: darkred;
  color: white
}

a.linkButton.currentUrl:hover {
  border-color: white;
  text-decoration: none;
}

ol#games {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 0;
  padding: 0;
}

ol#games li {
  display: flex;
  list-style-type: none;
}

ol#games a.createGame {
  align-items: center;
  background: darkred;
  min-height: 5em;
  padding: 0.5em;
}

ol#games a {
  border-radius: 0.5em;
  display: flex;
  overflow: hidden;
  padding: 0.25em;
}

ol#games canvas.thumbnail {
  align-self: center;
}

ol#games section.puzzleInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
}

ol#games li.selected a {
  background: lightgoldenrodyellow;
  color: black;
}

ol#games li.selected canvas {
  filter: invert(1);
}

ol#games a.unstarted.d5x5 {
  background: linear-gradient(deeppink, darkmagenta);
}

ol#games a.unstarted.d10x10 {
  background: linear-gradient(cornflowerblue, indigo);
}

ol#games a.unstarted.d15x15 {
  background: linear-gradient(goldenrod, sienna);
}

ol#games a.unstarted.d20x20 {
  background: linear-gradient(indianred, maroon);
}

ol#games a.unstarted.d25x25 {
  background: linear-gradient(blue, darkblue);
}

ol#games a.unstarted.d30x30 {
  background: linear-gradient(indigo, darkmagenta);
}

ol#games a.playing {
  background: linear-gradient(blue, dodgerblue);
}

ol#games a.completed {
  background: linear-gradient(darkslategray, seagreen);
}

ol#games a.draft {
  background: linear-gradient(black, dimgrey);
}

ol#games a:hover {
  background: white;
  color: black;
  text-decoration: none;
}

button:hover:enabled, select:hover:enabled {
  background-color: white;
  color: black;
}

span.name {
  flex-grow: 1;
  font-weight: bold;
  max-height: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 6em;
}

span.creator {
  font-size: small;
}

span.difficulty {
  font-size: x-small;
}

span.dimensions {
  font-size: small;
  font-weight: bold;
}

span.status {
  font-size: small;
}

section.bordered {
  border: 1px dashed rgba(255, 255, 255, 0.59);
}

section.topRow {
  align-items: baseline;
  display: flex;
  gap: 2em;
}

form.tagForm {
  align-items: baseline;
  display: flex;
  gap: 1em;
}
