html {
  font-family: monospace;
}

body {
  margin: 0;
}

body, button, a {
  font-size: large;
}

button {
  border: none;
}

button, select {
  font-family: inherit;
}

button, select {
  padding: 8px 24px;
  margin: 2px;
}

button:disabled {
  opacity: 0.5;
}

a#product_name {
  margin-right: 20px;
}

h1 {
  font-size: xx-large;
  margin: 20px 0px;
}

a {
  text-decoration: none;
}

a:hover {
  background: black;
  text-decoration: underline;
}

section.bordered {
  padding: 12px;
  border-radius: 12px;
  border: 1px dashed rgba(255, 255, 255, 0.59);
}


