main {
  display: flex;
  flex-wrap: wrap;
}

section {
  margin: 10px 0;
}

aside {
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

section#controls {
  flex-grow: 1;
}

select {
  border: none;
  font-size: large;
  height: 38px;
  width: 135px;
  color: white;
}

g.labels text {
  font-weight: bold;
  font-size: large;
}

g.column_labels text {
  text-anchor: middle;
}

g.row_labels text {
  text-anchor: end;
}

g.hint rect.highlighted {
  opacity: 1;
}

svg.main g.major line, svg.main g.outer line {
  stroke-width: 2px;
}

svg.mini g.major line, svg.mini g.outer line {
  stroke-width: 1px;
  opacity: 0.5;
}

svg.main g.minor line {
  opacity: 0.3;
}

svg.game_complete g.minor {
  visibility: hidden;
}

svg.game_complete g.major line {
  visibility: hidden;
}

svg.mini g.minor line {
  visibility: hidden;
}

g.squares {
  opacity: 0.9;
}

svg.game_complete g.squares rect {
  opacity: 1;
}


g.crosses line {
  stroke-width: 2;
}

svg.game_complete g.crosses line {
  opacity: 0.3;
}

svg.mini {
  margin: 10px;
}

div#dialog {
  position: absolute;
  top: 80px;
  margin: 28px;
}

div#dialog header {
  margin: 12px;
}

div#dialog_content {
  margin: 20px;
}

button#close {
  float: right;
}
